* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background-color: #000;
  color: firebrick;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 1px 1px 2px rgb(201, 168, 168);
}
